* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #110b15;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #777;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #333;
}

.filter-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn.active {
  background-color: #4CAF50;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  color: #777;
  text-decoration: line-through;
}

li .delete-task {
  color: #f44336;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}

li .delete-task:hover {
  color: #c62828;
}
